.cart-dropdown {
    position: absolute;
    width: 34rem;
    height: 44rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid black;
    background-color: white;
    top: 8rem;
    right: 7rem;
    z-index: 5;

    .cart-items {
        height: 80%;
        display: flex;
        flex-direction: column;
        overflow: auto;

    }

    button {
        margin-top: auto;
    }

}